In [1]:
import pandas as pd
#!pip install psycopg2
import psycopg2

In [2]:
# Connection parameters, yours will be different
params_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "postgres"
}

conn = psycopg2.connect(**params_dic)

In [4]:
new_shippers_df = pd.DataFrame({ 
                         'shipper_id' : [50, 51, 52],
                         'company_name' : ["ITI_50", "Edafa_50", "Nokia_50"],
                         'phone' : ["010", "011", "012"]
                      })
new_shippers_df

   shipper_id company_name phone
0          50       ITI_50   010
1          51     Edafa_50   011
2          52     Nokia_50   012

In [6]:
for ind in new_shippers_df.index:
    query = """INSERT into shippers(shipper_id, company_name, phone) values(%d,'%s','%s');""" % (new_shippers_df['shipper_id'][ind], new_shippers_df['company_name'][ind], new_shippers_df['phone'][ind])
    print(query)
    cursor = conn.cursor()
    cursor.execute(query)
    conn.commit()

INSERT into shippers(shipper_id, company_name, phone) values(50,'ITI_50','010');
INSERT into shippers(shipper_id, company_name, phone) values(51,'Edafa_50','011');
INSERT into shippers(shipper_id, company_name, phone) values(52,'Nokia_50','012');

In [7]:
conn.close()

In [8]:
new_shippers_df['shipper_id'][0:2]

0    10
1    11
Name: shipper_id, dtype: int64

### Trying mutiple queries

In [17]:
cursor = conn.cursor()

In [18]:
cursor.execute("Update shippers set company_name='ITI' where company_name='ITI_3'; Update shippers set company_name='ITI' where company_name='ITI_2'")

In [20]:
conn.commit()
cursor.close()

In [22]:
cursor = conn.cursor()
cursor.execute("Update shippers set company_name='Nokia_3' where company_name='Nokia'; Select * from employees")
conn.commit()

In [23]:
cursor.fetchall()

[(1,
  'Davolio',
  'Nancy',
  'Sales Representative',
  'Ms.',
  datetime.date(1948, 12, 8),
  datetime.date(1992, 5, 1),
  '507 - 20th Ave. E.\\nApt. 2A',
  'Seattle',
  'WA',
  '98122',
  'USA',
  '(206) 555-9857',
  '5467',
  <memory at 0x000001ED320DB1C8>,
  'Education includes a BA in psychology from Colorado State University in 1970.  She also completed The Art of the Cold Call.  Nancy is a member of Toastmasters International.',
  2,
  'http://accweb/emmployees/davolio.bmp'),
 (2,
  'Fuller',
  'Andrew',
  'Vice President, Sales',
  'Dr.',
  datetime.date(1952, 2, 19),
  datetime.date(1992, 8, 14),
  '908 W. Capital Way',
  'Tacoma',
  'WA',
  '98401',
  'USA',
  '(206) 555-9482',
  '3457',
  <memory at 0x000001ED320DB348>,
  'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.',
  None,
  'http://accweb/emmployees/fuller.bmp'),
 (3,
  'Leverling',
  'Janet',
  'Sales Representative',
  'Ms.',
  datetime.date(1963, 8, 30),
  datetime.date(1992, 4, 1),
  '722 Moss Bay Blvd.',
  'Kirkland',
  'WA',
  '98033',
  'USA',
  '(206) 555-3412',
  '3355',
  <memory at 0x000001ED320DB4C8>,
  'Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.',
  2,
  'http://accweb/emmployees/leverling.bmp'),
 (4,
  'Peacock',
  'Margaret',
  'Sales Representative',
  'Mrs.',
  datetime.date(1937, 9, 19),
  datetime.date(1993, 5, 3),
  '4110 Old Redmond Rd.',
  'Redmond',
  'WA',
  '98052',
  'USA',
  '(206) 555-8122',
  '5176',
  <memory at 0x000001ED320DB648>,
  'Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.',
  2,
  'http://accweb/emmployees/peacock.bmp'),
 (5,
  'Buchanan',
  'Steven',
  'Sales Manager',
  'Mr.',
  datetime.date(1955, 3, 4),
  datetime.date(1993, 10, 17),
  '14 Garrett Hill',
  'London',
  None,
  'SW1 8JR',
  'UK',
  '(71) 555-4848',
  '3453',
  <memory at 0x000001ED320DB7C8>,
  'Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses Successful Telemarketing and International Sales Management.  He is fluent in French.',
  2,
  'http://accweb/emmployees/buchanan.bmp'),
 (6,
  'Suyama',
  'Michael',
  'Sales Representative',
  'Mr.',
  datetime.date(1963, 7, 2),
  datetime.date(1993, 10, 17),
  'Coventry House\\nMiner Rd.',
  'London',
  None,
  'EC2 7JR',
  'UK',
  '(71) 555-7773',
  '428',
  <memory at 0x000001ED320DB948>,
  'Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses Multi-Cultural Selling and Time Management for the Sales Professional.  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.',
  5,
  'http://accweb/emmployees/davolio.bmp'),
 (7,
  'King',
  'Robert',
  'Sales Representative',
  'Mr.',
  datetime.date(1960, 5, 29),
  datetime.date(1994, 1, 2),
  'Edgeham Hollow\\nWinchester Way',
  'London',
  None,
  'RG1 9SP',
  'UK',
  '(71) 555-5598',
  '465',
  <memory at 0x000001ED320DBAC8>,
  'Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled Selling in Europe, he was transferred to the London office in March 1993.',
  5,
  'http://accweb/emmployees/davolio.bmp'),
 (8,
  'Callahan',
  'Laura',
  'Inside Sales Coordinator',
  'Ms.',
  datetime.date(1958, 1, 9),
  datetime.date(1994, 3, 5),
  '4726 - 11th Ave. N.E.',
  'Seattle',
  'WA',
  '98105',
  'USA',
  '(206) 555-1189',
  '2344',
  <memory at 0x000001ED320DBC48>,
  'Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.',
  2,
  'http://accweb/emmployees/davolio.bmp'),
 (9,
  'Dodsworth',
  'Anne',
  'Sales Representative',
  'Ms.',
  datetime.date(1966, 1, 27),
  datetime.date(1994, 11, 15),
  '7 Houndstooth Rd.',
  'London',
  None,
  'WG2 7LT',
  'UK',
  '(71) 555-4444',
  '452',
  <memory at 0x000001ED320DBDC8>,
  'Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.',
  5,
  'http://accweb/emmployees/davolio.bmp')]

In [24]:
cursor.close()
conn.close()

#### It seems working fine :)