1. <a> Read the dataset</a>
2. <a >Data investigation</a>
3. <a >Data preprocessing </a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

## 1. <a name="1">Read the dataset</a>
(<a href="#0">Go to top</a>)

The data set from this link https://www.kaggle.com/fernandol/countries-of-the-world

In [2]:
#read the data

data_path = "D:\ITI\9 Months Training AI\python\Pandas\LAB02\countries of the world.csv"  #the path where you downloaded the data
df = pd.read_csv(data_path)
print('The shape of the dataset is:', df.shape)

The shape of the dataset is: (227, 20)

## 2. <a name="2">Data investigation</a>
(<a href="#0">Go to top</a>)

in this part you need to check the data quality and assess any issues in the data as:
- null values in each column 
- each column has the proper data type
- outliers
- duplicate rows
- distribution for each column (skewness)
<br>

**comment each issue you find**

In [3]:
# Let's see the data types and non-null values for each column
data_info = df.info()
print(data_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB
None

In [4]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [5]:
df.describe()

         Population  Area (sq. mi.)  GDP ($ per capita)
count  2.270000e+02    2.270000e+02          226.000000
mean   2.874028e+07    5.982270e+05         9689.823009
std    1.178913e+08    1.790282e+06        10049.138513
min    7.026000e+03    2.000000e+00          500.000000
25%    4.376240e+05    4.647500e+03         1900.000000
50%    4.786994e+06    8.660000e+04         5550.000000
75%    1.749777e+07    4.418110e+05        15700.000000
max    1.313974e+09    1.707520e+07        55100.000000

In [6]:
df[df.isnull().any(axis=1)]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
36,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0","552,2","4,96","0,02","95,02",NaN,"10,78","7,8","0,022","0,294","0,684"
47,Cook Islands,OCEANIA,21388,240,"89,1","50,00",NaN,NaN,5000.0,"95,0","289,9","17,39","13,04","69,57",2,21,NaN,"0,151","0,096","0,753"
50,Croatia,EASTERN EUROPE,4494749,56542,"79,5","10,32","1,58","6,84",10600.0,"98,5","420,4","26,09","2,27","71,65",NaN,"9,61","11,48","0,07","0,308","0,622"
52,Cyprus,NEAR EAST,784301,9250,"84,8","7,01","0,43","7,18",19200.0,"97,6",NaN,"7,79","4,44","87,77",3,"12,56","7,68","0,037","0,198","0,765"
58,East Timor,ASIA (EX. NEAR EAST),1062777,15007,"70,8","4,70",0,"47,41",500.0,"58,6",NaN,"4,71","0,67","94,62",2,"26,99","6,24","0,085","0,231","0,684"
66,Faroe Islands,WESTERN EUROPE,47246,1399,"33,8","79,84","1,41","6,24",22000.0,NaN,"503,8","2,14",0,"97,86",NaN,"14,05","8,7","0,27","0,11","0,62"
74,Gaza Strip,NEAR EAST,1428757,360,"3968,8","11,11","1,6","22,93",600.0,NaN,"244,3","28,95","21,05",50,3,"39,45","3,8","0,03","0,283","0,687"
78,Gibraltar,WESTERN EUROPE,27928,7,"3989,7","171,43",0,"5,13",17500.0,NaN,"877,7",0,0,100,NaN,"10,74","9,31",NaN,NaN,NaN
80,Greenland,NORTHERN AMERICA,56361,2166086,"0,0","2,04","-8,37","15,82",20000.0,NaN,"448,9",0,0,100,1,"15,93","7,84",NaN,NaN,NaN
83,Guam,OCEANIA,171019,541,"316,1","23,20",0,"6,94",21000.0,"99,0","492,0","9,09","16,36","74,55",2,"18,79","4,48",NaN,NaN,NaN
85,Guernsey,WESTERN EUROPE,65409,78,"838,6","64,10","3,84","4,71",20000.0,NaN,"842,4",NaN,NaN,NaN,3,"8,81","10,01","0,03","0,1","0,87"
99,Isle of Man,WESTERN EUROPE,75441,572,"131,9","27,97","5,36","5,93",21000.0,NaN,"676,0",9,0,91,3,"11,05","11,19","0,01","0,13","0,86"
101,Italy,WESTERN EUROPE,58133509,301230,"193,0","2,52","2,07","5,94",26700.0,"98,6","430,9","27,79","9,53","62,68",NaN,"8,72","10,4","0,021","0,291","0,688"
104,Jersey,WESTERN EUROPE,91084,116,"785,2","60,34","2,76","5,24",24800.0,NaN,"811,3",0,0,100,3,"9,3","9,28","0,05","0,02","0,93"
108,Kiribati,OCEANIA,105432,811,"130,0","140,94",0,"48,52",800.0,NaN,"42,7","2,74","50,68","46,58",2,"30,65","8,26","0,089","0,242","0,668"
115,Lebanon,NEAR EAST,3874050,10400,"372,5","2,16",0,"24,52",4800.0,"87,4","255,6","16,62","13,98","69,4",NaN,"18,52","6,21","0,12","0,21","0,67"
118,Libya,NORTHERN AFRICA,5900754,1759540,"3,4","0,10",0,"24,6",6400.0,"82,6","127,1","1,03","0,19","98,78",NaN,"26,49","3,48","0,076","0,499","0,425"
120,Lithuania,BALTICS,3585906,65200,"55,0","0,14","-0,71","6,89",11400.0,"99,6","223,4","45,22","0,91","53,87",NaN,"8,75","10,98","0,055","0,325","0,62"
121,Luxembourg,WESTERN EUROPE,474413,2586,"183,5","0,00","8,97","4,81",55100.0,"100,0","515,4","23,28","0,4","76,32",NaN,"11,94","8,41","0,01","0,13","0,86"
123,Macedonia,EASTERN EUROPE,2050554,25333,"80,9","0,00","-1,45","10,09",6700.0,NaN,"260,0","22,26","1,81","75,93",3,"12,02","8,77","0,118","0,319","0,563"
129,Malta,WESTERN EUROPE,400214,316,"1266,5","62,28","2,07","3,89",17700.0,"92,8","505,0","28,13","3,13","68,74",NaN,"10,22","8,1","0,03","0,23","0,74"
134,Mayotte,SUB-SAHARAN AFRICA,201234,374,"538,1","49,52","6,78","62,4",2600.0,NaN,"49,7",NaN,NaN,NaN,2,"40,95","7,7",NaN,NaN,NaN
137,Moldova,C.W. OF IND. STATES,4466706,33843,"132,0","0,00","-0,26","40,42",1800.0,"99,1","208,1","55,3","10,79","33,91",NaN,"15,7","12,64","0,213","0,233","0,555"
138,Monaco,WESTERN EUROPE,32543,2,"16271,5","205,00","7,75","5,43",27000.0,"99,0","1035,6",0,0,100,NaN,"9,19","12,91","0,17",NaN,NaN
140,Montserrat,LATIN AMER. & CARIB,9439,102,"92,5","39,22",0,"7,35",3400.0,"97,0",NaN,20,0,80,2,"17,59","7,1",NaN,NaN,NaN
141,Morocco,NORTHERN AFRICA,33241259,446550,"74,4","0,41","-0,98","41,62",4000.0,"51,7","40,4","19,61","2,17","78,22",NaN,"21,98","5,58","0,217","0,357","0,426"
144,Nauru,OCEANIA,13287,21,"632,7","142,86",0,"9,95",5000.0,NaN,"143,0",0,0,100,2,"24,76","6,7",NaN,NaN,NaN
145,Nepal,ASIA (EX. NEAR EAST),28287147,147181,"192,2","0,00",0,"66,98",1400.0,"45,2","15,9","21,68","0,64","77,68",NaN,"30,98","9,31","0,38","0,21","0,41"
153,N. Mariana Islands,OCEANIA,82459,477,"172,9","310,69","9,61","7,11",12500.0,"97,0","254,7","13,04","4,35","82,61",2,"19,43","2,29",NaN,NaN,NaN
169,Russia,C.W. OF IND. STATES,142893540,17075200,"8,4","0,22","1,02","15,39",8900.0,"99,6","280,6","7,33","0,11","92,56",NaN,"9,95","14,65","0,054","0,371","0,575"
171,Saint Helena,SUB-SAHARAN AFRICA,7502,413,"18,2","14,53",0,19,2500.0,"97,0","293,3","12,9",0,"87,1",NaN,"12,13","6,53",NaN,NaN,NaN
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,"29,0","49,59","-4,86","7,54",6900.0,"99,0","683,2","13,04",0,"86,96",NaN,"13,52","6,83",NaN,NaN,NaN
177,San Marino,WESTERN EUROPE,29251,61,"479,5","0,00","10,98","5,73",34600.0,"96,0","704,3","16,67",0,"83,33",NaN,"10,02","8,17",NaN,NaN,NaN
181,Serbia,EASTERN EUROPE,9396411,88361,"106,3","0,00","-1,33","12,89",2200.0,"93,0","285,8","33,35","3,2","63,45",NaN,NaN,NaN,"0,166","0,255","0,579"
185,Slovakia,EASTERN EUROPE,5439448,48845,"111,4","0,00","0,3","7,41",13300.0,NaN,"220,1","30,16","2,62","67,22",3,"10,65","9,45","0,035","0,294","0,672"
186,Slovenia,EASTERN EUROPE,2010347,20273,"99,2","0,23","1,12","4,45",19000.0,"99,7","406,1","8,6","1,49","89,91",NaN,"8,98","10,31","0,028","0,369","0,603"
187,Solomon Islands,OCEANIA,552438,28450,"19,4","18,67",0,"21,29",1700.0,NaN,"13,4","0,64",2,"97,36",2,"30,01","3,92","0,42","0,11","0,47"
200,Tanzania,SUB-SAHARAN AFRICA,37445392,945087,"39,6","0,15","-2,06","98,54",600.0,"78,2","4,0","4,52","1,08","94,4",NaN,"37,71","16,39","0,432","0,172","0,396"
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,"49,2","90,47","11,68","15,67",9600.0,"98,0","269,5","2,33",0,"97,67",2,"21,84","4,21",NaN,NaN,NaN
209,Tuvalu,OCEANIA,11810,26,"454,2","92,31",0,"20,03",1100.0,NaN,"59,3",0,0,100,2,"22,18","7,11","0,166","0,272","0,562"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"
221,Wallis and Futuna,OCEANIA,16025,274,"58,5","47,08",NaN,NaN,3700.0,"50,0","118,6",5,25,70,2,NaN,NaN,NaN,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"

In [7]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [8]:
df[df.columns[0]].value_counts()

Country
Afghanistan     1
Rwanda          1
Nauru           1
Nepal           1
Netherlands     1
               ..
Greece          1
Greenland       1
Grenada         1
Guadeloupe      1
Zimbabwe        1
Name: count, Length: 227, dtype: int64

In [9]:
# This will print basic statistics for numerical columns

## 3. <a name="3">Data preprocessing</a>
(<a href="#0">Go to top</a>)

### Define below all the issues that you had found in the previous part
1- all numbers has , instead of .         <br>
2- most of the columns are not numeric          <br>
3- some cells has null values          <br>
4- some data has outliers <br>
5- some columns are skeewed<br>

In [10]:
#make a copy for the original dataset
copy_df = df.copy()

### for each issue adapt this methodology 
- start by defining the solution
- apply this solution on the data
- test the solution to make sure that you have solved the issue

**First issue**

all numbers has , instead of .

In [11]:
#solution 
df = df.replace(',', '.', regex=True)

In [12]:
#test 
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1,46.6,20.34,0.38,0.24,0.38
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31,6000.0,70.0,78.1,3.22,0.25,96.53,1,17.14,4.61,0.101,0.6,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10,15,75,2,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.6,4.05,19000.0,100.0,497.2,2.22,0,97.78,3,8.71,6.25,NaN,NaN,NaN

**Second issue**

most of the columns are not numeric

In [13]:
#solution 
df[df.columns[2:]]=df[df.columns[2:]].apply(pd.to_numeric)

In [14]:
#test 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    float64
 5   Coastline (coast/area ratio)        227 non-null    float64
 6   Net migration                       224 non-null    float64
 7   Infant mortality (per 1000 births)  224 non-null    float64
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    float64
 10  Phones (per 1000)                   223 non-null    float64
 11  Arable (%)                          225 non-null    float64
 12  Crops (%)                           225 non-null    float64
 13  Other (%)                           225 non-null    float64
 14  Climate                             205 non-null    float64
 15  Birthrate                           224 non-null    float64
 16  Deathrate                           223 non-null    float64
 17  Agriculture                         212 non-null    float64
 18  Industry                            211 non-null    float64
 19  Service                             212 non-null    float64
dtypes: float64(16), int64(2), object(2)
memory usage: 35.6+ KB

**Third issue**

Some cells has null values

In [15]:
#solution
df.loc[:, df.columns[2:]] = df.loc[:, df.columns[2:]].fillna(df.loc[:, df.columns[2:]].mean())

In [16]:
#test
df.isnull().sum().sum()

0

**Fourth issue**

Outliers
in the area and population columns there is outliers in mathematical perspective but they are correct such as china or russia so it is not correct to transform them

In [17]:
for i in range(2,20,1):
    Q1 = df[df.columns[i]].quantile(0.25)
    Q3 = df[df.columns[i]].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[df.columns[i]] < Q1 - 1.5*IQR) | (df[df.columns[i]] > Q3 + 1.5*IQR)]
    print(f'Number of outliers in column {df.columns[i]}: {outliers.shape[0]}')

Number of outliers in column Population: 28
Number of outliers in column Area (sq. mi.): 28
Number of outliers in column Pop. Density (per sq. mi.): 21
Number of outliers in column Coastline (coast/area ratio): 37
Number of outliers in column Net migration: 52
Number of outliers in column Infant mortality (per 1000 births): 5
Number of outliers in column GDP ($ per capita): 3
Number of outliers in column Literacy (%): 16
Number of outliers in column Phones (per 1000): 1
Number of outliers in column Arable (%): 10
Number of outliers in column Crops (%): 29
Number of outliers in column Other (%): 3
Number of outliers in column Climate: 91
Number of outliers in column Birthrate: 0
Number of outliers in column Deathrate: 16
Number of outliers in column Agriculture: 8
Number of outliers in column Industry: 12
Number of outliers in column Service: 1

In [18]:
#print rows with outliers in any column
for i in range(2,20,1):
    Q1 = df[df.columns[i]].quantile(0.25)
    Q3 = df[df.columns[i]].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[df.columns[i]] < Q1 - 1.5*IQR) | (df[df.columns[i]] > Q3 + 1.5*IQR)]
    print(f'Outlier rows in column {df.columns[i]}:')
    print(outliers)

Outlier rows in column Population:
               Country                               Region  Population  \
16         Bangladesh         ASIA (EX. NEAR EAST)            147365352
27             Brazil               LATIN AMER. & CARIB       188078227
32              Burma         ASIA (EX. NEAR EAST)             47382633
42              China         ASIA (EX. NEAR EAST)           1313973713
43           Colombia               LATIN AMER. & CARIB        43593035
45   Congo. Dem. Rep.   SUB-SAHARAN AFRICA                     62660551
60              Egypt   NORTHERN AFRICA                        78887007
65           Ethiopia   SUB-SAHARAN AFRICA                     74777981
69             France   WESTERN EUROPE                         60876136
76            Germany   WESTERN EUROPE                         82422299
94              India         ASIA (EX. NEAR EAST)           1095351995
95          Indonesia         ASIA (EX. NEAR EAST)            245452739
96               Iran         ASIA (EX. NEAR EAST)             68688433
101             Italy   WESTERN EUROPE                         58133509
103             Japan         ASIA (EX. NEAR EAST)            127463611
110      Korea. South         ASIA (EX. NEAR EAST)             48846823
135            Mexico               LATIN AMER. & CARIB       107449525
152           Nigeria   SUB-SAHARAN AFRICA                    131859731
156          Pakistan         ASIA (EX. NEAR EAST)            165803560
162       Philippines         ASIA (EX. NEAR EAST)             89468677
169            Russia                  C.W. OF IND. STATES    142893540
189      South Africa   SUB-SAHARAN AFRICA                     44187637
201          Thailand         ASIA (EX. NEAR EAST)             64631595
206            Turkey   NEAR EAST                              70413958
211           Ukraine                  C.W. OF IND. STATES     46710816
213    United Kingdom   WESTERN EUROPE                         60609153
214     United States   NORTHERN AMERICA                      298444215
219           Vietnam         ASIA (EX. NEAR EAST)             84402966

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
16           144000                      1023.4                          0.40
27          8511965                        22.1                          0.09
32           678500                        69.8                          0.28
42          9596960                       136.9                          0.15
43          1138910                        38.3                          0.28
45          2345410                        26.7                          0.00
60          1001450                        78.8                          0.24
65          1127127                        66.3                          0.00
69           547030                       111.3                          0.63
76           357021                       230.9                          0.67
94          3287590                       333.2                          0.21
95          1919440                       127.9                          2.85
96          1648000                        41.7                          0.15
101          301230                       193.0                          2.52
103          377835                       337.4                          7.87
110           98480                       496.0                          2.45
135         1972550                        54.5                          0.47
152          923768                       142.7                          0.09
156          803940                       206.2                          0.13
162          300000                       298.2                         12.10
169        17075200                         8.4                          0.22
189         1219912                        36.2                          0.23
201          514000                       125.7                          0.63
206          780580                        90.2                          0.92
211          603700                        77.4                          0.46
213          244820                       247.6                          5.08
214         9631420                        31.0                          0.21
219          329560                       256.1                          1.05

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
16           -0.71                               62.60              1900.0
27           -0.03                               29.61              7600.0
32           -1.80                               67.24              1800.0
42           -0.40                               24.18              5000.0
43           -0.31                               20.97              6300.0
45            0.00                               94.69               700.0
60           -0.22                               32.59              4000.0
65            0.00                               95.32               700.0
69            0.66                                4.26             27600.0
76            2.18                                4.16             27600.0
94           -0.07                               56.29              2900.0
95            0.00                               35.60              3200.0
96           -0.84                               41.58              7000.0
101           2.07                                5.94             26700.0
103           0.00                                3.26             28200.0
110           0.00                                7.05             17800.0
135          -4.87                               20.91              9000.0
152           0.26                               98.80               900.0
156          -2.77                               72.44              2100.0
162          -1.50                               23.51              4600.0
169           1.02                               15.39              8900.0
189          -0.29                               61.81             10700.0
201           0.00                               20.48              7400.0
206           0.00                               41.04              6700.0
211          -0.39                               20.34              5400.0
213           2.19                                5.16             27700.0
214           3.41                                6.50             37800.0
219          -0.45                               25.95              2500.0

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
16           43.1                7.3       62.11       3.07      34.82
27           86.4              225.3        6.96       0.90      92.15
32           85.3               10.1       15.19       0.97      83.84
42           90.9              266.7       15.40       1.25      83.35
43           92.5              176.2        2.42       1.67      95.91
45           65.5                0.2        2.96       0.52      96.52
60           57.7              131.8        2.87       0.48      96.65
65           42.7                8.2       10.71       0.75      88.54
69           99.0              586.4       33.53       2.07      64.40
76           99.0              667.9       33.85       0.59      65.56
94           59.5               45.4       54.40       2.74      42.86
95           87.9               52.0       11.32       7.23      81.45
96           79.4              276.4        8.72       1.39      89.89
101          98.6              430.9       27.79       9.53      62.68
103          99.0              461.2       12.19       0.96      86.85
110          97.9              486.1       17.18       1.95      80.87
135          92.2              181.6       12.99       1.31      85.70
152          68.0                9.3       31.29       2.96      65.75
156          45.7               31.8       27.87       0.87      71.26
162          92.6               38.4       18.95      16.77      64.28
169          99.6              280.6        7.33       0.11      92.56
189          86.4              107.0       12.08       0.79      87.13
201          92.6              108.9       29.36       6.46      64.18
206          86.5              269.5       30.93       3.31      65.76
211          99.7              259.9       56.21       1.61      42.18
213          99.0              543.5       23.46       0.21      76.33
214          97.0              898.0       19.13       0.22      80.65
219          90.3              187.7       19.97       5.95      74.08

      Climate  Birthrate  Deathrate  Agriculture  Industry  Service
16   2.000000      29.80       8.27        0.199     0.198    0.603
27   2.000000      16.56       6.17        0.084     0.400    0.516
32   2.000000      17.91       9.83        0.564     0.082    0.353
42   1.500000      13.25       6.97        0.125     0.473    0.403
43   2.000000      20.48       5.58        0.125     0.342    0.533
45   2.000000      43.69      13.27        0.550     0.110    0.340
60   1.000000      22.94       5.23        0.149     0.357    0.493
65   2.000000      37.98      14.86        0.475     0.099    0.426
69   4.000000      11.99       9.14        0.022     0.214    0.764
76   3.000000       8.25      10.62        0.009     0.296    0.695
94   2.500000      22.01       8.18        0.186     0.276    0.538
95   2.000000      20.34       6.25        0.134     0.458    0.408
96   1.000000      17.00       5.55        0.116     0.424    0.460
101  2.139024       8.72      10.40        0.021     0.291    0.688
103  3.000000       9.37       9.16        0.017     0.258    0.725
110  3.000000      10.00       5.85        0.033     0.403    0.563
135  1.500000      20.69       4.74        0.038     0.259    0.702
152  1.500000      40.43      16.94        0.269     0.487    0.244
156  1.000000      29.74       8.23        0.216     0.251    0.533
162  2.000000      24.89       5.41        0.144     0.326    0.530
169  2.139024       9.95      14.65        0.054     0.371    0.575
189  1.000000      18.20      22.00        0.025     0.303    0.671
201  2.000000      13.87       7.04        0.099     0.441    0.460
206  3.000000      16.62       5.97        0.117     0.298    0.585
211  3.000000       8.82      14.39        0.187     0.452    0.361
213  3.000000      10.71      10.13        0.005     0.237    0.758
214  3.000000      14.14       8.26        0.010     0.204    0.787
219  2.000000      16.86       6.22        0.209     0.410    0.381
Outlier rows in column Area (sq. mi.):
               Country                               Region  Population  \
2             Algeria   NORTHERN AFRICA                        32930091
5              Angola   SUB-SAHARAN AFRICA                     12127071
8           Argentina               LATIN AMER. & CARIB        39921833
11          Australia   OCEANIA                                20264082
24            Bolivia               LATIN AMER. & CARIB         8989046
27             Brazil               LATIN AMER. & CARIB       188078227
36             Canada   NORTHERN AMERICA                       33098932
40               Chad   SUB-SAHARAN AFRICA                      9944201
42              China         ASIA (EX. NEAR EAST)           1313973713
43           Colombia               LATIN AMER. & CARIB        43593035
45   Congo. Dem. Rep.   SUB-SAHARAN AFRICA                     62660551
65           Ethiopia   SUB-SAHARAN AFRICA                     74777981
80          Greenland   NORTHERN AMERICA                          56361
94              India         ASIA (EX. NEAR EAST)           1095351995
95          Indonesia         ASIA (EX. NEAR EAST)            245452739
96               Iran         ASIA (EX. NEAR EAST)             68688433
106        Kazakhstan                  C.W. OF IND. STATES     15233244
118             Libya   NORTHERN AFRICA                         5900754
128              Mali   SUB-SAHARAN AFRICA                     11716829
135            Mexico               LATIN AMER. & CARIB       107449525
139          Mongolia         ASIA (EX. NEAR EAST)              2832224
151             Niger   SUB-SAHARAN AFRICA                     12525094
161              Peru               LATIN AMER. & CARIB        28302603
169            Russia                  C.W. OF IND. STATES    142893540
179      Saudi Arabia   NEAR EAST                              27019731
189      South Africa   SUB-SAHARAN AFRICA                     44187637
192             Sudan   SUB-SAHARAN AFRICA                     41236378
214     United States   NORTHERN AMERICA                      298444215

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
2           2381740                        13.8                          0.04
5           1246700                         9.7                          0.13
8           2766890                        14.4                          0.18
11          7686850                         2.6                          0.34
24          1098580                         8.2                          0.00
27          8511965                        22.1                          0.09
36          9984670                         3.3                          2.02
40          1284000                         7.7                          0.00
42          9596960                       136.9                          0.15
43          1138910                        38.3                          0.28
45          2345410                        26.7                          0.00
65          1127127                        66.3                          0.00
80          2166086                         0.0                          2.04
94          3287590                       333.2                          0.21
95          1919440                       127.9                          2.85
96          1648000                        41.7                          0.15
106         2717300                         5.6                          0.00
118         1759540                         3.4                          0.10
128         1240000                         9.5                          0.00
135         1972550                        54.5                          0.47
139         1564116                         1.8                          0.00
151         1267000                         9.9                          0.00
161         1285220                        22.0                          0.19
169        17075200                         8.4                          0.22
179         1960582                        13.8                          0.13
189         1219912                        36.2                          0.23
192         2505810                        16.5                          0.03
214         9631420                        31.0                          0.21

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
2            -0.39                               31.00              6000.0
5             0.00                              191.19              1900.0
8             0.61                               15.18             11200.0
11            3.98                                4.69             29000.0
24           -1.32                               53.11              2400.0
27           -0.03                               29.61              7600.0
36            5.96                                4.75             29800.0
40           -0.11                               93.82              1200.0
42           -0.40                               24.18              5000.0
43           -0.31                               20.97              6300.0
45            0.00                               94.69               700.0
65            0.00                               95.32               700.0
80           -8.37                               15.82             20000.0
94           -0.07                               56.29              2900.0
95            0.00                               35.60              3200.0
96           -0.84                               41.58              7000.0
106          -3.35                               29.21              6300.0
118           0.00                               24.60              6400.0
128          -0.33                              116.79               900.0
135          -4.87                               20.91              9000.0
139           0.00                               53.79              1800.0
151          -0.67                              121.69               800.0
161          -1.05                               31.94              5100.0
169           1.02                               15.39              8900.0
179          -2.71                               13.24             11800.0
189          -0.29                               61.81             10700.0
192          -0.02                               62.50              1900.0
214           3.41                                6.50             37800.0

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
2       70.000000               78.1        3.22       0.25      96.53
5       42.000000                7.8        2.41       0.24      97.35
8       97.100000              220.4       12.31       0.48      87.21
11     100.000000              565.5        6.55       0.04      93.41
24      87.200000               71.9        2.67       0.19      97.14
27      86.400000              225.3        6.96       0.90      92.15
36      97.000000              552.2        4.96       0.02      95.02
40      47.500000                1.3        2.86       0.02      97.12
42      90.900000              266.7       15.40       1.25      83.35
43      92.500000              176.2        2.42       1.67      95.91
45      65.500000                0.2        2.96       0.52      96.52
65      42.700000                8.2       10.71       0.75      88.54
80      82.838278              448.9        0.00       0.00     100.00
94      59.500000               45.4       54.40       2.74      42.86
95      87.900000               52.0       11.32       7.23      81.45
96      79.400000              276.4        8.72       1.39      89.89
106     98.400000              164.1        7.98       0.05      91.97
118     82.600000              127.1        1.03       0.19      98.78
128     46.400000                6.4        3.82       0.03      96.15
135     92.200000              181.6       12.99       1.31      85.70
139     97.800000               55.1        0.77       0.00      99.23
151     17.600000                1.9        3.54       0.01      96.45
161     90.900000               79.5        2.89       0.40      96.71
169     99.600000              280.6        7.33       0.11      92.56
179     78.800000              140.6        1.67       0.09      98.24
189     86.400000              107.0       12.08       0.79      87.13
192     61.100000               16.3        6.83       0.18      92.99
214     97.000000              898.0       19.13       0.22      80.65

      Climate  Birthrate  Deathrate  Agriculture  Industry   Service
2    1.000000      17.14       4.61     0.101000  0.600000  0.298000
5    2.139024      45.11      24.20     0.096000  0.658000  0.246000
8    3.000000      16.73       7.55     0.095000  0.358000  0.547000
11   1.000000      12.14       7.51     0.038000  0.262000  0.700000
24   1.500000      23.30       7.53     0.128000  0.352000  0.520000
27   2.000000      16.56       6.17     0.084000  0.400000  0.516000
36   2.139024      10.78       7.80     0.022000  0.294000  0.684000
40   2.000000      45.73      16.38     0.335000  0.259000  0.406000
42   1.500000      13.25       6.97     0.125000  0.473000  0.403000

In [19]:
#print rows with outliers in any column
Q1 = df[df.columns[2]].quantile(0.25)
Q3 = df[df.columns[2]].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df[df.columns[2]] < Q1 - 1.5*IQR) | (df[df.columns[2]] > Q3 + 1.5*IQR)]
print(f'Outlier rows in column {df.columns[2]}:')
print(outliers)

Outlier rows in column Population:
               Country                               Region  Population  \
16         Bangladesh         ASIA (EX. NEAR EAST)            147365352
27             Brazil               LATIN AMER. & CARIB       188078227
32              Burma         ASIA (EX. NEAR EAST)             47382633
42              China         ASIA (EX. NEAR EAST)           1313973713
43           Colombia               LATIN AMER. & CARIB        43593035
45   Congo. Dem. Rep.   SUB-SAHARAN AFRICA                     62660551
60              Egypt   NORTHERN AFRICA                        78887007
65           Ethiopia   SUB-SAHARAN AFRICA                     74777981
69             France   WESTERN EUROPE                         60876136
76            Germany   WESTERN EUROPE                         82422299
94              India         ASIA (EX. NEAR EAST)           1095351995
95          Indonesia         ASIA (EX. NEAR EAST)            245452739
96               Iran         ASIA (EX. NEAR EAST)             68688433
101             Italy   WESTERN EUROPE                         58133509
103             Japan         ASIA (EX. NEAR EAST)            127463611
110      Korea. South         ASIA (EX. NEAR EAST)             48846823
135            Mexico               LATIN AMER. & CARIB       107449525
152           Nigeria   SUB-SAHARAN AFRICA                    131859731
156          Pakistan         ASIA (EX. NEAR EAST)            165803560
162       Philippines         ASIA (EX. NEAR EAST)             89468677
169            Russia                  C.W. OF IND. STATES    142893540
189      South Africa   SUB-SAHARAN AFRICA                     44187637
201          Thailand         ASIA (EX. NEAR EAST)             64631595
206            Turkey   NEAR EAST                              70413958
211           Ukraine                  C.W. OF IND. STATES     46710816
213    United Kingdom   WESTERN EUROPE                         60609153
214     United States   NORTHERN AMERICA                      298444215
219           Vietnam         ASIA (EX. NEAR EAST)             84402966

     Area (sq. mi.)  Pop. Density (per sq. mi.)  Coastline (coast/area ratio)  \
16           144000                      1023.4                          0.40
27          8511965                        22.1                          0.09
32           678500                        69.8                          0.28
42          9596960                       136.9                          0.15
43          1138910                        38.3                          0.28
45          2345410                        26.7                          0.00
60          1001450                        78.8                          0.24
65          1127127                        66.3                          0.00
69           547030                       111.3                          0.63
76           357021                       230.9                          0.67
94          3287590                       333.2                          0.21
95          1919440                       127.9                          2.85
96          1648000                        41.7                          0.15
101          301230                       193.0                          2.52
103          377835                       337.4                          7.87
110           98480                       496.0                          2.45
135         1972550                        54.5                          0.47
152          923768                       142.7                          0.09
156          803940                       206.2                          0.13
162          300000                       298.2                         12.10
169        17075200                         8.4                          0.22
189         1219912                        36.2                          0.23
201          514000                       125.7                          0.63
206          780580                        90.2                          0.92
211          603700                        77.4                          0.46
213          244820                       247.6                          5.08
214         9631420                        31.0                          0.21
219          329560                       256.1                          1.05

     Net migration  Infant mortality (per 1000 births)  GDP ($ per capita)  \
16           -0.71                               62.60              1900.0
27           -0.03                               29.61              7600.0
32           -1.80                               67.24              1800.0
42           -0.40                               24.18              5000.0
43           -0.31                               20.97              6300.0
45            0.00                               94.69               700.0
60           -0.22                               32.59              4000.0
65            0.00                               95.32               700.0
69            0.66                                4.26             27600.0
76            2.18                                4.16             27600.0
94           -0.07                               56.29              2900.0
95            0.00                               35.60              3200.0
96           -0.84                               41.58              7000.0
101           2.07                                5.94             26700.0
103           0.00                                3.26             28200.0
110           0.00                                7.05             17800.0
135          -4.87                               20.91              9000.0
152           0.26                               98.80               900.0
156          -2.77                               72.44              2100.0
162          -1.50                               23.51              4600.0
169           1.02                               15.39              8900.0
189          -0.29                               61.81             10700.0
201           0.00                               20.48              7400.0
206           0.00                               41.04              6700.0
211          -0.39                               20.34              5400.0
213           2.19                                5.16             27700.0
214           3.41                                6.50             37800.0
219          -0.45                               25.95              2500.0

     Literacy (%)  Phones (per 1000)  Arable (%)  Crops (%)  Other (%)  \
16           43.1                7.3       62.11       3.07      34.82
27           86.4              225.3        6.96       0.90      92.15
32           85.3               10.1       15.19       0.97      83.84
42           90.9              266.7       15.40       1.25      83.35
43           92.5              176.2        2.42       1.67      95.91
45           65.5                0.2        2.96       0.52      96.52
60           57.7              131.8        2.87       0.48      96.65
65           42.7                8.2       10.71       0.75      88.54
69           99.0              586.4       33.53       2.07      64.40
76           99.0              667.9       33.85       0.59      65.56
94           59.5               45.4       54.40       2.74      42.86
95           87.9               52.0       11.32       7.23      81.45
96           79.4              276.4        8.72       1.39      89.89
101          98.6              430.9       27.79       9.53      62.68
103          99.0              461.2       12.19       0.96      86.85
110          97.9              486.1       17.18       1.95      80.87
135          92.2              181.6       12.99       1.31      85.70
152          68.0                9.3       31.29       2.96      65.75
156          45.7               31.8       27.87       0.87      71.26
162          92.6               38.4       18.95      16.77      64.28
169          99.6              280.6        7.33       0.11      92.56
189          86.4              107.0       12.08       0.79      87.13
201          92.6              108.9       29.36       6.46      64.18
206          86.5              269.5       30.93       3.31      65.76
211          99.7              259.9       56.21       1.61      42.18
213          99.0              543.5       23.46       0.21      76.33
214          97.0              898.0       19.13       0.22      80.65
219          90.3              187.7       19.97       5.95      74.08

      Climate  Birthrate  Deathrate  Agriculture  Industry  Service
16   2.000000      29.80       8.27        0.199     0.198    0.603
27   2.000000      16.56       6.17        0.084     0.400    0.516
32   2.000000      17.91       9.83        0.564     0.082    0.353
42   1.500000      13.25       6.97        0.125     0.473    0.403
43   2.000000      20.48       5.58        0.125     0.342    0.533
45   2.000000      43.69      13.27        0.550     0.110    0.340
60   1.000000      22.94       5.23        0.149     0.357    0.493
65   2.000000      37.98      14.86        0.475     0.099    0.426
69   4.000000      11.99       9.14        0.022     0.214    0.764
76   3.000000       8.25      10.62        0.009     0.296    0.695
94   2.500000      22.01       8.18        0.186     0.276    0.538
95   2.000000      20.34       6.25        0.134     0.458    0.408
96   1.000000      17.00       5.55        0.116     0.424    0.460
101  2.139024       8.72      10.40        0.021     0.291    0.688
103  3.000000       9.37       9.16        0.017     0.258    0.725
110  3.000000      10.00       5.85        0.033     0.403    0.563
135  1.500000      20.69       4.74        0.038     0.259    0.702
152  1.500000      40.43      16.94        0.269     0.487    0.244
156  1.000000      29.74       8.23        0.216     0.251    0.533
162  2.000000      24.89       5.41        0.144     0.326    0.530
169  2.139024       9.95      14.65        0.054     0.371    0.575
189  1.000000      18.20      22.00        0.025     0.303    0.671
201  2.000000      13.87       7.04        0.099     0.441    0.460
206  3.000000      16.62       5.97        0.117     0.298    0.585
211  3.000000       8.82      14.39        0.187     0.452    0.361
213  3.000000      10.71      10.13        0.005     0.237    0.758
214  3.000000      14.14       8.26        0.010     0.204    0.787
219  2.000000      16.86       6.22        0.209     0.410    0.381

In [20]:
for i in range(4,20,1):
    Q1 = df[df.columns[i]].quantile(0.25)
    Q3 = df[df.columns[i]].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5*IQR
    upper_bound = Q3 + 1.5*IQR
    df.loc[df[df.columns[i]] < lower_bound, df.columns[i]] = lower_bound
    df.loc[df[df.columns[i]] > upper_bound, df.columns[i]] = upper_bound

In [21]:
#test outliers 
for i in range(2,20,1):
    Q1 = df[df.columns[i]].quantile(0.25)
    Q3 = df[df.columns[i]].quantile(0.75)
    IQR = Q3 - Q1
    outliers = df[(df[df.columns[i]] < Q1 - 1.5*IQR) | (df[df.columns[i]] > Q3 + 1.5*IQR)]
    print(f'Number of outliers in column {df.columns[i]} after transformation: {outliers.shape[0]}')

Number of outliers in column Population after transformation: 28
Number of outliers in column Area (sq. mi.) after transformation: 28
Number of outliers in column Pop. Density (per sq. mi.) after transformation: 0
Number of outliers in column Coastline (coast/area ratio) after transformation: 0
Number of outliers in column Net migration after transformation: 0
Number of outliers in column Infant mortality (per 1000 births) after transformation: 0
Number of outliers in column GDP ($ per capita) after transformation: 0
Number of outliers in column Literacy (%) after transformation: 0
Number of outliers in column Phones (per 1000) after transformation: 0
Number of outliers in column Arable (%) after transformation: 0
Number of outliers in column Crops (%) after transformation: 0
Number of outliers in column Other (%) after transformation: 0
Number of outliers in column Climate after transformation: 0
Number of outliers in column Birthrate after transformation: 0
Number of outliers in column Deathrate after transformation: 0
Number of outliers in column Agriculture after transformation: 0
Number of outliers in column Industry after transformation: 0
Number of outliers in column Service after transformation: 0

**Fifth issue**

skewness

In [22]:
df[df.columns[2:]].skew()

Population                            9.200223
Area (sq. mi.)                        5.964245
Pop. Density (per sq. mi.)            1.154572
Coastline (coast/area ratio)          1.180169
Net migration                         0.072544
Infant mortality (per 1000 births)    1.132506
GDP ($ per capita)                    1.160721
Literacy (%)                         -1.079020
Phones (per 1000)                     0.973230
Arable (%)                            1.027521
Crops (%)                             1.169187
Other (%)                            -0.924579
Climate                               0.443968
Birthrate                             0.712622
Deathrate                             0.805782
Agriculture                           1.037881
Industry                              0.394549
Service                              -0.115967
dtype: float64

In [23]:
#positive skewed columns
df[df.columns[2:]].skew()[df[df.columns[2:]].skew() > 1].index

Index(['Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)',
       'Coastline (coast/area ratio)', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Arable (%)', 'Crops (%)', 'Agriculture'],
      dtype='object')

In [24]:
#negative skewed columns
df[df.columns[2:]].skew()[df[df.columns[2:]].skew() < -1].index

Index(['Literacy (%)'], dtype='object')

In [25]:
df

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.0000,3.807500,126.015000,700.000000,44.300000,3.200000,12.13,0.220000,87.65,1.520732,46.600000,17.487500,0.380000,0.240000,0.380000
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.2600,-3.732500,21.520000,4500.000000,86.500000,71.200000,21.09,4.420000,74.49,2.798780,15.110000,5.220000,0.232000,0.188000,0.579000
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.0400,-0.390000,31.000000,6000.000000,70.000000,78.100000,3.22,0.250000,96.53,1.520732,17.140000,4.610000,0.101000,0.537500,0.298000
3,American Samoa,OCEANIA,57794,199,290.4,25.7125,-3.732500,9.270000,8000.000000,97.000000,259.500000,10.00,11.107778,75.00,2.000000,22.460000,3.270000,0.150844,0.282711,0.565283
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.0000,3.807500,4.050000,19000.000000,100.000000,497.200000,2.22,0.000000,97.78,2.798780,8.710000,6.250000,0.150844,0.282711,0.565283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.0000,2.980000,19.620000,800.000000,82.838278,145.200000,16.90,11.107778,64.13,2.798780,31.670000,3.920000,0.090000,0.280000,0.630000
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.4200,0.038125,35.506964,9689.823009,82.838278,236.061435,0.02,0.000000,99.98,1.520732,22.114732,9.241345,0.150844,0.282711,0.400000
224,Yemen,NEAR EAST,21456188,527970,40.6,0.3600,0.000000,61.500000,800.000000,50.200000,37.200000,2.78,0.240000,96.98,1.520732,42.890000,8.300000,0.135000,0.472000,0.393000
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.0000,0.000000,88.290000,800.000000,80.600000,8.200000,7.08,0.030000,92.90,2.000000,41.000000,17.487500,0.220000,0.290000,0.489000
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.0000,0.000000,67.690000,1900.000000,90.700000,26.800000,8.32,0.340000,91.34,2.000000,28.010000,17.487500,0.179000,0.243000,0.579000