In [2]:
#!pip install BeautifulSoup4 --upgrade
#!pip install bs4 --upgrade
import pandas as pd

In [3]:
html_tables = pd.read_html('https://hoopshype.com/salaries/players/')
type(html_tables)

list

In [3]:
len(html_tables)

1

In [4]:
type(html_tables[0])

pandas.core.frame.DataFrame

In [7]:
NBA_players_df = html_tables[0]
NBA_players_df.head()

,Unnamed: 0,Player,2024/25,2025/26,2026/27,2027/28,2028/29,2029/30
0,1.0,Stephen Curry,"$55,761,217","$59,606,817","$62,587,158",$0,$0,$0
1,2.0,Nikola Jokic,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",$0,$0
2,2.0,Joel Embiid,"$51,415,938","$55,224,526","$59,539,018","$64,302,139","$69,065,261",$0
3,4.0,Kevin Durant,"$51,179,020","$54,708,608",$0,$0,$0,$0
4,5.0,Bradley Beal,"$50,203,930","$53,666,270","$57,128,610",$0,$0,$0

In [8]:
NBA_players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  588 non-null    float64
 1   Player      588 non-null    object
 2   2024/25     588 non-null    object
 3   2025/26     588 non-null    object
 4   2026/27     588 non-null    object
 5   2027/28     588 non-null    object
 6   2028/29     588 non-null    object
 7   2029/30     588 non-null    object
dtypes: float64(1), object(7)
memory usage: 36.9+ KB

### Let's do another trial

In [8]:
tables_in_wikipedia_page = pd.read_html('https://en.wikipedia.org/wiki/Egypt_national_football_team')
len(tables_in_wikipedia_page)

56

#### There're around 60 tables!!!, so let's try to be more specific

In [9]:
more_specific_tables_in_wikipedia_page = pd.read_html('https://en.wikipedia.org/wiki/Egypt_national_football_team', match='Career')
len(more_specific_tables_in_wikipedia_page)

2

In [10]:
for df in more_specific_tables_in_wikipedia_page:
    print(df)

   Rank                Player  Caps  Goals     Career
0     1          Ahmed Hassan   184     33  1995–2012
1     2      Hossam Hassan[a]   176     68  1985–2006
2     3       Essam El Hadary   159      0  1996–2018
3     4           Ahmed Fathy   136      3  2002–2021
4     5        Ibrahim Hassan   131     14  1988–2002
5     6            Hany Ramzy   123      3  1988–2003
6     7            Wael Gomaa   114      1  2001–2013
7     8         Ahmed El Kass   112     25  1987–1997
8     8  Abdel Zaher El Sakka   112      4  1997–2010
9    10          Rabie Yassin   109      1  1982–1991
   Rank                   Player  Goals  Caps  Ratio        Career
0     1  Hossam Hassan[a] (list)     69   176   0.39     1985–2006
1     2            Mohamed Salah     59   103   0.57  2011–present
2     3         Hassan El Shazly     49    62   0.79     1961–1975
3     4       El-Sayed El-Dhizui     41    50   0.82     1948–1960
4     5       Mohamed Abou Trika     38   100   0.38     2001–2013
5     6             Ahmed Hassan     33   184   0.18     1995–2012
6     7                 Amr Zaki     30    63   0.48     2004–2013
7     8              Emad Moteab     28    70   0.40     2004–2015
8     9      Badawi Abdel Fattah     27    27   1.00     1960–1966
9    10            Ahmed El Kass     25   112   0.22     1987–1997

In [11]:
more_specific_tables_in_wikipedia_page[0]

   Rank                Player  Caps  Goals     Career
0     1          Ahmed Hassan   184     33  1995–2012
1     2      Hossam Hassan[a]   176     68  1985–2006
2     3       Essam El Hadary   159      0  1996–2018
3     4           Ahmed Fathy   136      3  2002–2021
4     5        Ibrahim Hassan   131     14  1988–2002
5     6            Hany Ramzy   123      3  1988–2003
6     7            Wael Gomaa   114      1  2001–2013
7     8         Ahmed El Kass   112     25  1987–1997
8     8  Abdel Zaher El Sakka   112      4  1997–2010
9    10          Rabie Yassin   109      1  1982–1991

In [12]:
more_specific_tables_in_wikipedia_page[1]

   Rank                   Player  Goals  Caps  Ratio        Career
0     1  Hossam Hassan[a] (list)     69   177   0.39     1985–2006
1     2            Mohamed Salah     59   103   0.57  2011–present
2     3         Hassan El Shazly     49    62   0.79     1961–1975
3     4       El-Sayed El-Dhizui     41    50   0.82     1948–1960
4     5       Mohamed Abou Trika     38   100   0.38     2001–2013
5     6             Ahmed Hassan     33   184   0.18     1995–2012
6     7                 Amr Zaki     30    63   0.48     2004–2013
7     8              Emad Moteab     28    70   0.40     2004–2015
8     9      Badawi Abdel Fattah     27    27   1.00     1960–1966
9    10            Ahmed El Kass     25   112   0.22     1987–1997

In [13]:
historical_goalers_of_Egypt_df = more_specific_tables_in_wikipedia_page[1]
historical_goalers_of_Egypt_df

   Rank                   Player  Goals  Caps  Ratio        Career
0     1  Hossam Hassan[a] (list)     69   177   0.39     1985–2006
1     2            Mohamed Salah     59   103   0.57  2011–present
2     3         Hassan El Shazly     49    62   0.79     1961–1975
3     4       El-Sayed El-Dhizui     41    50   0.82     1948–1960
4     5       Mohamed Abou Trika     38   100   0.38     2001–2013
5     6             Ahmed Hassan     33   184   0.18     1995–2012
6     7                 Amr Zaki     30    63   0.48     2004–2013
7     8              Emad Moteab     28    70   0.40     2004–2015
8     9      Badawi Abdel Fattah     27    27   1.00     1960–1966
9    10            Ahmed El Kass     25   112   0.22     1987–1997

### Try Attributes

In [14]:
more_specific_tables_2 = pd.read_html('https://hoopshype.com/salaries/players/'
                                                        , attrs={'class': 'hh-salaries-ranking-table hh-salaries-table-sortable responsive'})
len(more_specific_tables_2)

1

In [15]:
more_specific_tables_2[0]

,Unnamed: 0,Player,2024/25,2025/26,2026/27,2027/28,2028/29,2029/30
0,1.0,Stephen Curry,"$55,761,217","$59,606,817","$62,587,158",$0,$0,$0
1,2.0,Nikola Jokic,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",$0,$0
2,2.0,Joel Embiid,"$51,415,938","$55,224,526","$59,539,018","$64,302,139","$69,065,261",$0
3,4.0,Kevin Durant,"$51,179,020","$54,708,608",$0,$0,$0,$0
4,5.0,Bradley Beal,"$50,203,930","$53,666,270","$57,128,610",$0,$0,$0
...,...,...,...,...,...,...,...,...
583,582.0,Taevion Kinsey,"$77,500",$0,$0,$0,$0,$0
584,585.0,Malcolm Hill,"$75,000",$0,$0,$0,$0,$0
585,586.0,Nae'qwan Tomlin,"$66,503",$0,$0,$0,$0,$0
586,586.0,Yuri Collins,"$66,503",$0,$0,$0,$0,$0
587,586.0,Erik Stevenson,"$66,503",$0,$0,$0,$0,$0

In [ ]:
class="hh-salaries-ranking-table hh-salaries-table-sortable responsive"

In [17]:
import requests
response = requests.request("GET", 'https://hoopshype.com/salaries/players/')
dfs_from_http_response = pd.read_html(response.text)
dfs_from_http_response[0]

,Unnamed: 0,Player,2024/25,2025/26,2026/27,2027/28,2028/29,2029/30
0,1.0,Stephen Curry,"$55,761,217","$59,606,817","$62,587,158",$0,$0,$0
1,2.0,Nikola Jokic,"$51,415,938","$55,224,526","$59,033,114","$62,841,702",$0,$0
2,2.0,Joel Embiid,"$51,415,938","$55,224,526","$59,539,018","$64,302,139","$69,065,261",$0
3,4.0,Kevin Durant,"$51,179,020","$54,708,608",$0,$0,$0,$0
4,5.0,Bradley Beal,"$50,203,930","$53,666,270","$57,128,610",$0,$0,$0
...,...,...,...,...,...,...,...,...
555,555.0,Daeqwon Plowden,"$77,500",$0,$0,$0,$0,$0
556,555.0,Zyon Pullin,"$77,500",$0,$0,$0,$0,$0
557,555.0,Jaylin Galloway,"$77,500",$0,$0,$0,$0,$0
558,555.0,Anzejs Pasecniks,"$77,500",$0,$0,$0,$0,$0
559,555.0,Taevion Kinsey,"$77,500",$0,$0,$0,$0,$0